# Web framework
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Validation
pydantic==2.7.1

# AWS
boto3==1.34.0

# Pinecone
pinecone-client==3.2.2

# AI / ML
sentence-transformers==2.7.0
langchain==0.2.0
langchain-text-splitters==0.2.0
groq==0.9.0

# PDF parsing
pdfplumber==0.11.0

# HTTP client
httpx==0.27.0

# Env
python-dotenv==1.0.1

# Linting (dev only)
ruff==0.4.4
black==24.4.2
langgraph==0.2.0
langchain-groq==0.1.6

# Real-time (Phase 3)
python-socketio==5.11.2
redis==5.0.4

# Phase 4
python-jose[cryptography]==3.3.0
